* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin: 0 auto;
}

.form label {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.form input[type="number"] {
    width: 100%;
    height: 40px;
    padding-left: 8px;
}

.form input[type="number"]:hover {
    outline: 2px solid gray;
}

.form input[type="number"]:active {
    outline: 2px solid #4e75ff;
}

legend {
    text-align: start;
}

fieldset {
    display: flex;
    justify-content: space-around;
    align-items: start;
    border-radius: 8px;
    margin-top: 16px;
    row-gap: 48px;
}


.form fieldset label {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 70px;
    gap: 4px;
}

input[type="radio"] {
    width: 24px;
    height: 24px;
}

button {
    width: 360px;
    height: 40px;
    margin-top: 24px;
    background-color: #4e75ff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    ;
}

button:hover {
    background-color: #6c8cff;
    cursor: pointer;
}